.modal-trigger {
  display: none;
}

.website_img {
  border: 0.3rem solid white;
}

.skills_heading,
.material-icons {
  font-size: 2rem !important;
}

.work_icon {
  padding-top: 0.5rem !important;
}

.input_form {
  background-color: white;
  border-radius: 0.4rem;
}

@media only screen and (max-width: 1200px) {
  .about_me {
    height: 780px;
  }

  .sidenav-overlay {
    z-index: 1;
  }
}

@media only screen and (max-width: 425px) {
  .modal-trigger {
    display: block;
  }
}
